QWidget {
    background-color: #1B3A4B;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
}

QGroupBox {
    border: 1px solid #065A60;
    border-radius: 5px;
    margin-top: 10px;
}
QGroupBox::title {
    padding: 0 3px;
    background-color: #065A60;
    color: #E0E0E0;
}

QTabWidget::pane {
    border: 1px solid #065A60;
}
QTabBar::tab {
    background-color: #006466;
    color: #E0E0E0;
    padding: 10px;
    margin-right: 2px;
    border: 1px solid #065A60;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}
QTabBar::tab:hover {
    background-color: #065A60;
    border-color: #065A60;
}
QTabBar::tab:selected {
    background-color: #0B525B;
    border-color: #065A60;
}

QPushButton {
    background-color: #006466;
    color: #FFFFFF;
    border: 1px solid #065A60;
    border-radius: 10px;
    padding: 10px;
}
QPushButton:hover {
    background-color: #065A60;
}
QPushButton:pressed {
    background-color: #0B525B;
}

QLineEdit {
    background-color: #212F45;
    border: 1px solid #065A60;
    padding: 5px;
    border-radius: 4px;
    color: #E0E0E0;
}

QSpinBox {
    background-color: #212F45;
    border: 1px solid #065A60;
    padding: 5px;
    border-radius: 4px;
    color: #E0E0E0;
}

QLabel {
    color: #E0E0E0;
}

QPlainTextEdit {
    background-color: #212F45;
    border: 1px solid #065A60;
    color: #E0E0E0;
    padding: 5px;
    border-radius: 4px;
}

QTableWidget {
    background-color: #212F45;
    border: 1px solid #065A60;
    color: #E0E0E0;
    border-color: #065A60;
}
QHeaderView::section {
    background-color: #0B525B;
    color: #E0E0E0;
    padding: 5px;
    border: 1px solid #065A60;
}

QGraphicsView {
    background-color: #212F45;
    border: 1px solid #065A60;
}
